
<!DOCTYPE html>
<html lang="en">
<head>

{% load staticfiles %}

{% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}

    <meta charset="UTF-8">
    <title>{% block title_block %} {% endblock %}</title>
</head>
<body>
{#{% block headerimg %}{% endblock %}#}

<div class="navbar-fixed">
<nav>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

    <div class="nav-wrapper">
	<div class="container">
	  <a href="{% url 'verify' %}" class="brand-logo"><img src="{% static 'userprofile/images/logo.png' %}"
                                                            class="responsive-img img-fluid" style='max-height:50px;' >
          360MedNet</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'about_us' %}">About Us</a></li>
            <li><a href="{% url 'verify' %}">Help</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
	  </div>
    </div>
   </nav>
</div>
{% block content %}
{% endblock %}
<footer class="page-footer">

          <div class="container">

            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">360MedNet</h5>
                <p class="grey-text text-lighten-4">Connect, Collaborate, Create.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 360MedNet
            <a class="grey-text text-lighten-4 right"href="{% url 'privacy_policy' %}">Terms of Use</a>
                <a class="grey-text text-lighten-4 right"href="{% url 'privacy_policy' %}">Privacy Policy &nbsp | &nbsp</a>
            </div>
          </div>
        </footer>


</body>
</html>