<!DOCTYPE html>
<html lang="en">
<head>

{% load staticfiles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

{% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}

    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'userprofile/images/logo.png' %}">
    <title>{% block title_block %} {% endblock %}</title>

    <style>
    .buttons-wrapper {
  position: absolute;
  height: calc(70vh);
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 997;
  top: 0;
  pointer-events: none;
  width: 100%;
}
.buttons-wrapper a {
  pointer-events: auto;
}
.mg-rg {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}</style>

</head>
<body>

<div class="navbar-fixed">
<nav>

    <div class="nav-wrapper">
	<div class="container" style="width: 85%">

        <ul class="left hide-on-small-and-down">
            <li><a href="{% url 'verify' %}"><img src="{% static 'userprofile/images/textlogo.png' %}"
                                        style='max-height:55px;padding-top:5px;'></a></li>
        </ul>
        <ul class="right">

          <li><a href="{% url 'about_us' %}">About Us</a></li>
            <li><a href="{% url 'verify' %}">Help</a></li>
            <li><a href="{% url 'login' %}"><font color="#faebd7"><i class="material-icons right">input</i>Login</font></a></li>
            <li><a href="{% url 'signup' %}"><font color="#7fffd4" size="4em"><i class="material-icons right">bubble_chart</i>Sign Up</font></a></li>
        </ul>
	  </div>
    </div>
   </nav>
</div>
{% block content %}
{% endblock %}
<footer class="page-footer">

          <div class="container">

            <div class="row">
              <div class="col l4 m4 s12">
                <img src="{% static 'userprofile/images/logo2.png' %}" width="150">
              </div>
                <div class="col l4 m4 s12">
                    <ul>
                        <li><a href="#!"><i class="material-icons">phone</i>&nbsp&nbspTelephone</a></li>
                        <li><a href="#!"><i class="material-icons">email</i>&nbsp&nbspEmail</a></li>
                        <li><a href="#!"><i class="material-icons">room</i>&nbsp&nbspAddress</a></li>
                        <li><a href="#!"><i class="material-icons">phone_iphone</i>&nbsp&nbspSomething Else</a></li>
                    </ul>
              </div>
                <div class="col l4 m4 s12">
                    <ul>
                        <li><a href="#!"><i class="fa fa-facebook fa-lg"></i>&nbsp&nbsp facebook</a></li>
                        <li><a href="#!"><i class="fa fa-twitter fa-lg"></i>&nbsp&nbsp twitter</a></li>
                        <li><a href="#!"><i class="fa fa-youtube-play fa-lg"></i>&nbsp&nbsp youtube</a></li>
                    </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 360MedNet
                <a class="grey-text text-lighten-4 right"href="{% url 'privacy_policy' %}">Help</a>
            <a class="grey-text text-lighten-4 right"href="{% url 'privacy_policy' %}">Terms of Use &nbsp | &nbsp</a>
                <a class="grey-text text-lighten-4 right"href="{% url 'privacy_policy' %}">Privacy Policy &nbsp | &nbsp</a>
            </div>
          </div>
        </footer>

<script>
$(document).ready(function(){
      $('.slider').slider();
    });
$('.carousel.carousel-slider').carousel({fullWidth: true});
</script>

</body>
</html>