<!DOCTYPE html>
<html lang="en">
<head>

{% load staticfiles %}

{% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}

    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'userprofile/images/logo.png' %}">
    <title>{% block title_block %} {% endblock %}</title>
</head>
<body>

<div class="navbar-fixed">
<nav>

    <div class="nav-wrapper">
	<div class="container">

        <ul class="left hide-on-small-and-down">
            <li><img src="{% static 'userprofile/images/logo2.jpg' %}"
                                        style='max-height:55px;padding-top:5px;'></li>
            <li><a href="{% url 'verify' %}">360 MedNet</a></li>
        </ul>
        <ul class="right">

          <li><a href="{% url 'about_us' %}">About Us</a></li>
            <li><a href="{% url 'verify' %}">Help</a></li>
            <li><a href="{% url 'login' %}"><i class="material-icons right">input</i>Login</a></li>
        </ul>
	  </div>
    </div>
   </nav>
</div>
{% block content %}
{% endblock %}
<footer class="page-footer">

          <div class="container">

            <div class="row">
              <div class="col l6 s12">
                <img src="{% static 'userprofile/images/logo2.jpg' %}" width="150">
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 360MedNet
                <a class="grey-text text-lighten-4 right"href="{% url 'privacy_policy' %}">Help</a>
            <a class="grey-text text-lighten-4 right"href="{% url 'privacy_policy' %}">Terms of Use &nbsp | &nbsp</a>
                <a class="grey-text text-lighten-4 right"href="{% url 'privacy_policy' %}">Privacy Policy &nbsp | &nbsp</a>
            </div>
          </div>
        </footer>


</body>
</html>