{% extends "website/base.html" %}
{% load staticfiles %}
{% load material_form %}

{% block title_block %}About us | 360MedNet{% endblock %}
{% block content %}
    <div class="container">
    <h3>About us</h3>
    <p>The last two decades have seen an unprecedented growth and uptake of mobile and internet use in Africa.
        Health care professionals are constantly faced with the challenge of keeping abreast of the latest research and
        best practices in medicine.
        The global workforce, with dissimilar experiences and differing approaches can deliver synergies. Platforms
        that bring together people who think differently; Have different skills; have access to varying resources or
        use different approaches but are able to network minds, can foster innovative solutions.
    </p>
    <p>360MedNet seeks to leverage the massive mobile and internet connectivity among medical students and qualified
        health care professionals to harness partnerships. We believe that exploration of such a global networking space
        will create vital solutions through sharing of diverse ideas and opinions.
    </p>
    <p>The instant and timely connection provides for unabated avenue for generation of solutions that impact individual
        patient outcomes and student performance in real time.
    </p>
        <br>

    <div class="col s4"></div>
    <div class="col s8">
        <p>
            <h5>Connect with hundreds of other health care professionals.</h5>
        Do you have a very tight work schedule? Is your academic program depriving you of diverse mentorship?
        Would you like to be in touch with other health professionals of similar interests?
        <br>360MedNet brings together students and medical professionals from the fields of Pharmacy, Nursing, Medicine,
        Lab Technology, Radiology etc. These also bring various interests in several areas like Infectious diseases,
        Drugs and therapeutics, Microbiology, Nursing practice and Cardiology among others.
        </p>
        <p>
            <h5>Collaborate to solve challenges through integration of diverse proficiencies.</h5>
        Do not let the quality of your medical service be limited to your core field of training.
        Expand your knowledge and skills through tapping into the wide variety of medical knowledge possessed by others
        on 360MedNet.
        Embrace the richness and depth of information drawn from other people’s backgrounds to enhance your output.
        360MedNet expands your immediate horizon through helping you collaborate beyond the confines of your
        geographical location.
        </p>
         <p>
            <h5>Create innovative solutions in Health care.</h5>
        Diversity breaks stereotypes. Diversity opens up and enhances educational experiences. Diversity helps people
        appreciate new notions.
        <br>Through shared knowledge, experiences, backgrounds and worldviews, 360MedNet is creating a hub for
        innovation in health care.
        </p>
        <p>
            <h5>Connect with Any device.</h5>
        The ubiquity of mobile and internet use has led to the diverse exploration of the global space Broadcasting of
        medical problems to many people has useful comparisons and evaluation of a variety of ideas that result.
        <br>The global workforce, with dissimilar experiences and divergent approaches can deliver synergies. People who
        think differently; Have different skills; Speak different languages or use different approaches but are able to
        network minds, can craft innovative solutions.Remember, we are not here to replace the doctor. But only to
        enhance the doctor


        </p>
    </div>
    </div>

{% endblock %}