{% extends "website/base.html" %}
{% load staticfiles %}
{% load material_form %}

{% block title_block %}Privacy Policy | 360MedNet{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
    <h3>Privacy Policy</h3>
        <h5>Your privacy</h5>
    <p>Protecting your privacy is one of our top priorities. Please take a few minutes to read the following carefully
        to understand our views and practices regarding your personal data and how we will treat it.
        By signing up and using our site, you confirm that you accept the terms of our user Terms and Conditions and
        this Privacy Policy.
    </p>
    <p>Please read this Privacy Policy carefully. In order to ensure that the benefits and obligations of membership are
        understood we ask all members talk to us with any questions, comments or suggestions having read this Privacy
        Policy.
    </p><br>
    </div>
     <div class="row">
    <h3>Privacy Policy</h3>
        <h5>Your privacy</h5>
    <p>Protecting your privacy is one of our top priorities. Please take a few minutes to read the following carefully
        to understand our views and practices regarding your personal data and how we will treat it.
        By signing up and using our site, you confirm that you accept the terms of our user Terms and Conditions and
        this Privacy Policy.
    </p>
    <p>Please read this Privacy Policy carefully. In order to ensure that the benefits and obligations of membership are
        understood we ask all members talk to us with any questions, comments or suggestions having read this Privacy
        Policy.
    </p><br>
    </div>
    </div>

{% endblock %}