{% extends "userprofile/home.html" %}
{% load staticfiles %}
{% load material_form %}

{% if user.is_authenticated %}
{% block title_block %} {{doctor.first_name }} {{ doctor.last_name }} | 360 MedNet {% endblock %}
    {% block content %}
<div class="row container">
<div class="col-xs-4"></div>

<div class="col-xs-4">

        <form method="POST">
    {% csrf_token %}
   {% form form=form %}{% endform %}

    <button type="submit" name="_submit" class="btn">Save</button>
</form>
        </div>

<div class="col-xs-4"></div>
</div>
    {% endblock %}
 {% endif %}