<!DOCTYPE html>
<html lang="en">
 <head>
        {% load material_form %}
        {% load staticfiles %}
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>360 MedNet</title>
        {% block favicon %}<link href="{% static 'userprofile/images/logo.png' %}">{% endblock %}
        {% block css %}{% include 'material/frontend/includes/material_css.html' %}{% endblock css %}
            <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        {% block js %}{% include 'material/frontend/includes/material_js.html' %}{% endblock js %}
        {% block extrahead %}{% endblock %}
        {% endblock head %}
    </head>
    <body class="{% block bodyclass %}with-sidebar{% endblock %}">
        {% block body %}
        <header>
            {% block header %}
            <ul id="slide-out" class="side-nav fixed">
                {% block sidenav_header %}
                <li>
                    <div class="userView">
{#                        <img class="background" src="{% static 'userprofile/images/header.jpeg' %}">#}
{#                        <img src="{% static 'userprofile/images/logo.png' %}" width="150" >#}
                        {% block userphoto %}
                        {% if user.doctor.avatar.url %}
                        <a href="#"><img class="circle" src="{{ user.doctor.avatar.url }}" width="200"></a>
                        {% else %}
                        <a href="#"><img class="circle" src="{% static 'media/avatars/none/default.jpeg' %}"></a>
                        {% endif %}
                        {% endblock %}
                        <ul>
                            <li><span>{{ user.doctor.first_name }} {{ user.doctor.last_name }}</span></li>
                            <li><span>{{ user.doctor.profession}}</span> at {{ user.doctor.hospital}}</li>
                            <li><span>{{ user.doctor.specialization}}</span></li>
{#                        <a href="#"><span class="green-text name">{{ request.user.get_username|title }}</span></a>#}
{#                        <a href="#"><span class="green-text email">{{ request.user.email }}</span></a>#}
                        </ul>
                    </div>
                </li>
                {% endblock %}
                {% block sidenav_items %}
                    <blockquote>
                    <ul>
                        <li><i class="material-icons prefix">email</i><a href="{% url 'medical_cases' %}">Medical Cases</a></li>
                        <li><i class="material-icons prefix">email</i><a>Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a><i class="material-icons prefix">email</i></li>
                    </ul>
                    </blockquote>
                {% endblock sidenav_items %}
            </ul>
            {% endblock %}
        </header>
        <main>
            {% block main %}
                <div class="navbar-fixed">
                    <nav>
                      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

                        <div class="nav-wrapper">
                        <div class="container">
                          <a href="#!" class="brand-logo">360 MedNet</a>

                          </div>
                        </div>
                       </nav>
                </div>
                {% block content %}
                    {% endblock %}
<br>
            {% endblock main %}
        <br>
        </main>
<br>
            {% block footer %}
<br>
        <footer class="page-footer">

          <div class="container">

            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Connect, Collaborate and Create.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <p align ="right" class="grey-text text-lighten-3">
                    <a class="grey-text text-lighten-3" href="{% url 'about_us' %}">About</a> |
                    <a class="grey-text text-lighten-3" href="#!">Help</a> |
                    <a class="grey-text text-lighten-3" href="#!">Contact</a>
                </p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 360 MedNet
            <a class="grey-text text-lighten-4 right" href="{% url 'privacy_policy' %}">
                Privacy Policy </a>
            </div>
          </div>
        </footer>
            {% endblock footer %}

        {% endblock %}
    </body>
</html>