{% extends "website/base.html" %}
{% load material_form %}

{% block title_block %} Login | 360 MedNet {% endblock %}

{% block content %}
<div class="container">
<div class="col-xs-2"></div>

<div class="col-xs-8">
<h4>360 MedNet Login</h4>
<form method="post" class="viewform">
    {% csrf_token %}
    {% form form=form %}
    {% endform %}
    <button type="submit" name="_submit" class="btn">Login</button>
    <br><a href="{% url 'password_reset' %}">Forgot your username or password?</a>
    <input type="hidden" name="next" value="feed" />
</form>

</div>


<div class="col-xs-2"></div>
</div>
{% endblock %}