{% extends "userprofile/home.html" %}
{% load staticfiles %}


{% if user.is_authenticated %}
{% block title_block %} {{ user.doctor.first_name }} {{ user.doctor.last_name }} | 360 MedNet {% endblock %}

{% block content %}
    <br>
<div class="row container">
<div class="col-xs-4"></div>

<div class="col-xs-4">
    {% for entry in read_profile %}
        <img src="{{ entry.avatar.url }}" width = "150" height = "150"  />
        <br>First name: {{ entry.first_name }}
        <br> Last Name: {{ entry.last_name }}
        <br> Middle Name: {{ entry.middle_name }}
        <br>Gender: {{ entry.gender }}
        <br> Date of Birth:{{ entry.date_of_birth }}
        <br> Qualification: {{ entry.qualification }}
        <br> Profession: {{ entry.profession }}
        <br> Specialization:{{ entry.specialization }}
        <br> year_of_first_medical_certification: {{ entry.year_of_first_medical_certification }}
        <br> mobile_number:{{ entry.mobile_number }}
        <br> about_me:{{ entry.about_me }}
        <br> country:{{ entry.country }}
        <br> city:{{ entry.city }}
        <br> hospital:{{ entry.hospital }}
        <br> work_number:{{ entry.work_number }}
        <br> Joined on: {{ entry.created_at }}
    {% endfor %}
</div>

<div class="col-xs-4"></div>
{% endblock %}
 {% endif %}

</div>
