{% extends "website/base.html" %}
{% load staticfiles %}
{% load material_form %}

{% block title_block %}360MedNet{% endblock %}

{% block content %}

   <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'userprofile/images/hdr01.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to 360MedNet!</h3>
          <h5 class="light grey-text text-lighten-3">Connect, Collaborate, Create.</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'userprofile/images/hdr02.jpg' %}"> <!-- random image -->
        <div class="caption left-align">
          <h4>Share and Learn</h4>
          <h6 class="light grey-text text-lighten-3">Share medical cases with hundreds
              of other medical proffessionals <br> and make better diagnosis to save lives</h6>
        </div>
      </li>
      <li>
        <img src="{% static 'userprofile/images/hdr07.jpg' %}"> <!-- random image -->
        <div class="caption right-align">
          <h4>Medical Conferences and Events</h4>
          <h6 class="light grey-text text-lighten-3">Never miss a Medical Conference
              or Event.<br> Keep on top of all this anytime, anywhere.</h6>
        </div>
      </li>
      <li>
        <img src="{% static 'userprofile/images/hdr03.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          <h4>Meet other professionals</h4>
          <h6 class="light grey-text text-lighten-3">Meet other professionals with similar
              interests and specialisations</h6>
        </div>
      </li>
    </ul>
   </div>

    <br>
    <div class="container" style="text-align: center">
{#        <img src="{% static 'userprofile/images/logo.png' %}" width="150" >#}
{#<br>#}
{#        <p class="flow-text" align="center">Please fill the form below to be verified</p>#}
{##}
{#      <div class="row">#}
{#      <div class="col s12">#}
{#       <form method="post" class="viewform">#}
{#        {% csrf_token %}#}
{#       {% form form=form %}#}
{#        {% part form.registration_number prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}#}
{#        {% part form.surname prefix %}<i class="material-icons prefix">email</i>{% endpart %}#}
{#        {% part form.other_name prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}#}
{#    {% endform %}#}
{#       <br>#}
{#       <div class="submit col s12">#}
{#		<button class="btn waves-effect waves-light" type="submit" name="_submit"> Verify yourself#}
{#    <i class="material-icons right">send</i>#}
{#  </button>#}
{#       </div>#}
{#    </form>#}

    <br>
    <img class="responsive-img" src="{% static 'userprofile/images/Why360Mednettitle.jpg' %}" alt ="sharing image" align="center" width="500">
    <br><br>
       <div class="row">

          <div class="col s12 m4 l4">
            <div class="row">
        <div class="col l12">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="{% static 'userprofile/images/Why360Mednet1.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Read more<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Details<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
        </div>
      </div>
          </div>
       <div class="col s12 m4 l4">
            <div class="row">
        <div class="col l12">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="{% static 'userprofile/images/Why360Mednet2.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Read more<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Details<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
        </div>
      </div>
          </div>
       <div class="col s12 m4 l4">
            <div class="row">
        <div class="col l12">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="{% static 'userprofile/images/Why360Mednet3.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Read more<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
        </div>
      </div>
          </div>
    </div>

       <div class="row">

          <div class="col s12 m4 l4">
            <div class="row">
        <div class="col l12">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="{% static 'userprofile/images/Why360Mednet4.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Read more<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Details<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
        </div>
      </div>
          </div>
       <div class="col s12 m4 l4">
            <div class="row">
        <div class="col l12">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="{% static 'userprofile/images/Why360Mednet5.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Read more<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Details<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
        </div>
      </div>
          </div>
       <div class="col s12 m4 l4">
            <div class="row">
        <div class="col l12">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="{% static 'userprofile/images/Why360Mednet6.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Read more<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
        </div>
      </div>
          </div>
    </div>


    </p>
    </div>

    <div class ="container">
    <div class="card blue-grey darken-1 card-content white-text">
    <div class="container" style="text-align: center">
    <br>
        <p class="flow-text" align="center">Join the Community</p>

      <div class="row">
      <div class="col s12">
       <form method="post" class="viewform">
        {% csrf_token %}
       {% form form=form %}
        {% part form.registration_number prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
        {% part form.surname prefix %}<i class="material-icons prefix">email</i>{% endpart %}
        {% part form.other_name prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
    {% endform %}
       <br>
       <div class="submit col s12">
		<button class="btn waves-effect waves-light" type="submit" name="_submit"> Sign up
    <i class="material-icons right">send</i>
  </button><br><br><br>
       </div>
       </form><br><br>
      </div><br><br></div></div></div></div>

<div class ="container">
       <div class="row">

          <div class="col s12 m4 l4">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'userprofile/images/Email-button.jpg' %}" alt ="Email Alerts">

            </div>
            <div class="card-content">
             <span class="card-title"></span>
              <p class="blue-grey-text">360MedNet will be sending you email alerts to notify you when a case of your interest has been posted.</p>
            </div>
          </div>
        </div>
      </div>
          </div>
     <div class="col s12 m4 l4">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'userprofile/images/devices.png' %}" alt ="Devices">

            </div>
            <div class="card-content">
            <span class="card-title">Registered Doctors</span>
              <p class="blue-grey-text">We have a large number of registered medical proffessionals</p>
            </div>
          </div>
        </div>
      </div>
          </div>
      <div class="col s12 m4 l4">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'userprofile/images/secure.jpg' %}" alt ="360 MedNet is Secure">
            </div>
            <div class="card-content">
            <span class="card-title"></span>
              <p class="blue-grey-text">360 MedNet is secure and abides by the patient confidentiality act. No Personal Information will be publicised in any way.</p>
            </div>
          </div>
        </div>
      </div>
          </div>
    </div>
    </div>
    </p>

{% endblock %}
