material
appdirs==1.4.3
defusedxml==0.5.0
Django==1.10.6
django-allauth==0.31.0
django-bootstrap3==8.2.2
django-jet==1.0.5
django-material==0.13.1
google-api-python-client==1.4.1
httplib2==0.10.3
oauth2client==4.0.0
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.2.0
python3-openid==3.1.0
requests==2.13.0
requests-oauthlib==0.8.0
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
gunicorn==19.7.1
dj-database-url==0.4.2
dj-static==0.0.6
psycopg2==2.7.1
pytz==2017.2
static3==0.7.0
django-letsencrypt==2.0.0
