
<html>

Dear {{ name }},

{{ sender.doctor.first_name}} {{ sender.doctor.last_name}} has invited you to join 360MedNet.

Join and Be a part of a wonderful new world- 360MedNet.

360MedNet is a professional networking platform for Doctors, Pharmacists, Nurses, Dentists, Laboratory specialists, Medical assistants and the like.

As part of this community, you will be able to:

(This will be in form of an inforgraphic)
- Share interesting cases with other medical professionals
- Engage in closed forums for medics
- Get real time information on scholarships
- Get information about upcoming trainings and workshops
- Meet mentors and mentees
- Get information about upcoming local and international conferences
- Find local and international employment opportunities.

                           <div class="buttons-wrapper">
          <div class="row center">
              <a href="{{ link }}" class="red waves-effect waves-yellow btn hoverable mg-rg"><b>join the
                  community</b><i class="matergitial-icons right">bubble_chart</i></a>
          </div>
        </div>


{#To accept the invitation, please click the link below:#}
{#{{ link }}#}

</html>