{% extends "userprofile/home.html" %}

{% block title %}Invite a Medic Friend{% endblock %}
{% block content %}
     {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% else %}
Enter your friend name and email below,
and click "send invite" to invite your friend to join the 360MedNet:
<form method="post" action=".">
{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="send invite" />
</form>
    {% endif %}
{% endblock %}